<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ajax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxFirstServlet</display-name>
    <servlet-name>AjaxFirstServlet</servlet-name>
    <servlet-class>com.eagle.servlet.AjaxFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxFirstServlet</servlet-name>
    <url-pattern>/AjaxFirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxRegisterServlet</display-name>
    <servlet-name>AjaxRegisterServlet</servlet-name>
    <servlet-class>com.eagle.servlet.AjaxRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxRegisterServlet</servlet-name>
    <url-pattern>/AjaxRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryServlet</display-name>
    <servlet-name>queryServlet</servlet-name>
    <servlet-class>com.eagle.servlet.queryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryServlet</servlet-name>
    <url-pattern>/queryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryServlets</display-name>
    <servlet-name>queryServlets</servlet-name>
    <servlet-class>com.eagle.servlet.queryServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryServlets</servlet-name>
    <url-pattern>/queryServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectServlet</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.eagle.servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>baiduServlet</display-name>
    <servlet-name>baiduServlet</servlet-name>
    <servlet-class>com.eagle.servlet.baiduServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baiduServlet</servlet-name>
    <url-pattern>/baiduServlet</url-pattern>
  </servlet-mapping>
</web-app>